<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/resendLink.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Resend token</title>
</head>
<body class="centered-wrapper">
    <div class="centered-content">
        <form id="frmEmailPasswordReset">
            <div class="md-form mb-5">
                <div id="lblEmail">
                    <i class="fa fa-at prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="user-email">Email</label>
                </div>
                <input type="email" id="user-email" name="email" class="form-control validate">
            </div>
            <div class="md-form mb-5">
                <span class="err-msg" id="link-err-msg"></span>
                
            </div>
            <span class="err-msg" id="return-back"><a href="/" >Go back to main page</a></span>
            <button class="btn btn-dark my-2 my-sm-0 w-100 mr-3 text-uppercase" type="button" id="btnSendLink">Send</button>
        </form>
    </div>         
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../public/javascript/sentResetLink.js"></script>
</body>
</html>



